@model Wander_Models.Property
@using Wander_Utilities

<!--All Code By Andrei Constantinescu-->

<form method="post">

    @if (Model.Id != 0)
    {

        <input asp-for="Id" hidden />
    }


    <div class="border p-3">
        <div asp-validation-summary="All" disabled class="text-black-50 danger"></div>
        <div class="form-group row">
            <h2 class="test-info pl-3">Delete Product</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" disabled class="form-control" />

                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" disabled class="form-control" />

                    </div>

                </div>



                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Address.City"></label>
                    </div>
                    <div class="col-8">

                        <input asp-for="Address.City" disabled class="form-control" />

                    </div>

                </div>




                <div class="form-group row py-2">
                    <div class="col-8 offset-4 row">

                        <div class="col">


                            <button type="submit" class="btn btn-danger w-100">Delete</button>


                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

