
<div class="Main_Bod">
    <div class="Section-1">
        <div class="Hollow-Bod">
            <h1>Header 1</h1>
            <p>Description</p>
            <br /><br />

            <form>
                <div class="Input-Type-Address">
                    <div class="type-1"><input type="text" /></div>
                    <div class="type-2"><input type="text" /></div>
                    <div class="type-3"><input type="text" /></div>
                </div>
                <div class="Beds-Baths">
                    <div class="Beds"><input type="text" /></div>
                    <div class="Baths"><input type="text" /></div>
                </div>
                <div class="button"><input type="submit" /></div>

            </form>

        </div>
    </div>

    <div class="Section-2">
        <h2>Latest Listings</h2>
        <div class=" =Listing-Bod">
            <div class="Listing-1"> First Listing </div>
            <div class="Listing-2"> Second Listing </div>
            <div class="Listing-3"> Third Listing </div>
        </div>
    </div>


</div>
