
<div class="container">


<div class=" text-center">

    <img src="/Images/deal.jpg" width="80%" />

    <h1 class="text-info">Inquiry Submitted</h1>

    <p>Your Inquiry has been submitted successfully. The Lister will contact you with the details of your rental by phone or email</p>
    <p>Thank You!</p>



</div>
</div>
